body {
    font-family: 'Tahoma';
}

.clock_tile {
    float: left;
    padding: 10px;
    margin: 10px;

    background: lightskyblue;
}

#clock_roman {
    font-family: 'Georgia';
}

#clock_approximative_grid {
    width: 30em;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.25);
}

#clock_approximative_grid .clock_approximative_grid_emph {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 1.5);
}