body {
    font-family: 'Tahoma';
}

.clock_tile {
    float: left;
    padding: 10px;
    margin: 10px;
    min-width: 15em;
    max-width: 25em;
    background: lightskyblue;
}

#clock_roman {
    font-family: 'Georgia';
}

#clock_approximative_grid {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.25);
}

#clock_approximative_grid .clock_approximative_grid_emph {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 1.5);
}

#clock_basic_svg_frame, 
#clock_basic_svg_hours, 
#clock_basic_svg_minutes, 
#clock_basic_svg_seconds {
    stroke:black;
    fill: white;
    stroke-width: 1px;
}

#clock_basic_svg_hours {
    stroke-width: 3px;
    stroke: red;
}

#clock_basic_svg_minutes {
    stroke-width: 2px;
}

#clock_basic_svg_pendulum_bar {
    stroke: black;
    fill: white;
    stroke-width: 5px;
}

#clock_basic_svg_pendulum_weight {
    stroke: black;
    fill: black;
    stroke-width: 1px;
}